.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/4k-Banner.png);
  background-position: center;
  background-size: cover;
  position: relative;

  header {
    max-width: 95%;
    text-align: center;
    border-top: 1px solid hsla(0, 0%, 100%, 0.75);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.75);
    padding: 30px 15px;

    h1,
    p {
      font-weight: 600;
      text-transform: uppercase;
    }

    h1 {
      letter-spacing: 0.25rem;
      font-size: var(--font-xl);
      line-height: var(--h-lh);

      #gg {
        font-size: var(--font-600);
      }
    }

    p {
      letter-spacing: 0.05rem;
      margin-top: 1rem;
      color: rgba(255, 255, 255, 0.85);
      font-weight: 400;
      font-size: var(--font-500);
      text-align: center;
    }
  }

  nav {
    display: flex;
    margin-top: 30px;

    .nav-list {
      display: flex;
      gap: 20px;

      a {
        color: white;
      }

      .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        border-radius: 10px;
        font-weight: 500;
        font-size: var(--font-400);
        text-transform: uppercase;
        padding: 10px 20px;
        width: 9rem;
        height: 3rem;
        cursor: pointer;
      }

      .nav-item:hover {
        background: rgba(0, 0, 0, 0.15);
      }
    }
  }

  footer {
    #footer-copyright {
      color: hsla(0, 0%, 100%, 0.40);
      font-size: var(--font-400);
      text-transform: uppercase;

      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin-bottom: 40px;
    }
  }
}

.drop-shadow {
  filter: drop-shadow(0 0 25px rgb(0, 0, 0));
}

.text-shadow {
  text-shadow: 1px 2px 5px #000000;
}

@media only screen and (max-width: 425px) {
  .nav-list {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    min-width: 18rem;
    min-height: 3rem;
  }
}